---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
	heroImage="/about.jpg"
>
	<p>
		Je suis un artiste Belge passionné par l’art depuis petit . J’ai suivi
		une formation artistique et j’ai toujours été captivé par la beauté de
		l’expression artistique. La création, l’expression des émotions et des
		sensations me font profondément vibrer. En temps que danseur et peintre,
		je vous invite à découvrir les créations du N , le fruit de mon Travail
		, de mes réflexions et de mes questionnements.
	</p>
	<p>
		Bienvenu dans mon univers, un monde rempli de complexité, de spleen et
		de splendeur. À travers mes œuvres le N vous invite à plonger avec lui
		dans les méandres du bonheur, à explorer les profondeurs de ma
		mélancolie. Ce qui m’a toujours captivé dans l’art, particulièrement
		dans la peinture, ce n’est pas la beauté, ni le résultat final, car pour
		moi , la beauté n’est pas une fin en soi . Ce qui m’intéresse le plus ,
		C’est l’émotion que mon art suscite. J’aspire systématiquement à ce que
		chaque personne comprenne qui je suis en tant qu’être profondément
		triste , les émotions que je traverse à chaque instant de ma vie. Quand
		je peins, je mets en lumière des fragments de moi-même, car je ne peux
		créer qu’a partir de cette triste lumière.
	</p>
	<p>
		J’ai toujours été attiré par la mélancolie, par la tristesse de l’âme
		car, à mes yeux, la beauté réside dans la tristesse. Dans mon art ,
		j’aime explorer ces aspects, ces énergies profondément sombre, car je
		crois que c’est en faisant face à ces parts d’ombre que l’on découvre
		véritablement sa lumière intérieur. Pour moi, la mélancolie est le
		meilleur allié, elle m’aide à créer, à developper, à accepter qui je
		suis. En elle je trouve un paradoxe fascinant, celui d’être tristement
		Heureux. Ce paradoxe est d’une importance capitale Pour le N .
	</p>
	<p>
		À chaque fois que je peins, mon objectif est de sublimer la tristesse et
		la mélancolie, de les rendre magnifiquement magnifiques pour qu’elles
		brillent, car elles représentent l’essence même de la vie. Je vous
		convie donc à une visite dans ma tête , où l’art devient une fenêtre
		ouverte sur mes émotions et mes pensées les plus profondes. Bienvenue
		dans l’univers de la NONCHALANCE. 0101010
	</p>
</Layout>
